includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 10 is the highest level
    level: 6
    ignoreErrors:
        - '#Using nullsafe property access \"\?->.* on left side of \?\? is unnecessary\. Use -> instead\.#'
    excludePaths:
        - ./vendor/**
